In [1]:
import psycopg2
from psycopg2 import OperationalError

import pandas as pd
import numpy as np
import matplotlib.pylab as plt

from IPython.display import HTML

***
    
    Ligação à base de dados

***

In [2]:
conn = psycopg2.connect(
    host = "contratos-base-gov1.cf87yxnqgph8.eu-central-1.rds.amazonaws.com",
    port = 5432,
    #database = "contratosbasegov",
    user = "contratosbasegov",
    password = "8n9nyeTBFUyCcLJShNrZdPUai2KQkue4")

cur = conn.cursor()

***

    Executar este comando quando ocorrer um erro ao tentar realizar uma query

***

In [3]:
cur.execute('''ROLLBACK;''')

***

# Funções


***

    ID's dos contratos

In [4]:
def all_ids(table):
    '''
    Função que retorna todos os ids dos contratos de uma tabela

    Parâmetros :    
        - table : tabela de interesse

    Return : 
        - list : ids de todos os contratos de uma tabela 
    '''

    cur = conn.cursor()
    cur.execute(''' 
                SELECT id
                FROM "{}"; '''.format(table)) 
    return list(cur.fetchall())


ids = all_ids("contratos")

    Nome das colunas

In [5]:
def col_names(table):
    '''
    Função que retorna os nomes das colunas de uma tabela
    
    Parâmetros : 
        - table : tabela de interesse

    return : 
        - pandas DataFrame : nomes das colunas
    '''

    cur = conn.cursor()
    cur.execute('''
                SELECT column_name
                FROM information_schema.columns
                WHERE table_name = %s;''', (table,))

    cnames = pd.DataFrame(cur.fetchall())
    #cnames = [row[0] for row in cur.fetchall()]
    return cnames

HTML(pd.DataFrame(col_names('contratos')).to_html(index=True))

    ID's dos diferentes tipos de procedimentos

    1. Ajuste Direto Regime Geral

In [25]:
def ajuste_dir():
    """
    """
    
    cur = conn.cursor()
    
    cur.execute('''
            SELECT "id"
            FROM "contratos"
            WHERE tipo_procedimento = 'Ajuste Direto Regime Geral';''')
    
    return list(cur.fetchall())

    2. Consulta Prévia

In [7]:
def consulta_prev():
    """
    """
    
    cur = conn.cursor()
    
    cur.execute('''
            SELECT "id"
            FROM "contratos"
            WHERE tipo_procedimento = 'Consulta Prévia';''')
    
    return list(cur.fetchall())

    3. Concurso Público

In [26]:
def concurso_pub():
    """
    """
    
    cur = conn.cursor()
    
    cur.execute('''
            SELECT "id"
            FROM "contratos"
            WHERE tipo_procedimento = 'Concurso público';''')
    
    return list(cur.fetchall())

    Restringir por CPV - 72 IT services: consulting, software development, Internet and support

In [19]:
cur = conn.cursor()
cur.execute('''
            SELECT "id"
            FROM "contratos"
            WHERE cpv LIKE '72%';''')

len(cur.fetchall())

187

In [51]:
def cpv_direto(cpv):
    
    """
    Função que retorna os id's de todos os contratos para um determinado CPV para todos os Ajustes Diretos em Regime Geral

    Parâmetros :
        cpv : inserir os dois algarismos iniciais do CPV entre '' ( https://www.publictendering.com/cpv-codes/list-of-the-cpv-codes/ )
    
    Return :
        tuple : id's dos contratos
    """
    
    cur = conn.cursor()
    cur.execute('''
                SELECT "id"
                FROM "contratos"
                WHERE cpv LIKE %s AND tipo_procedimento = 'Ajuste Direto Regime Geral';''', (cpv + '%',))
    
    return cur.fetchall()

ajdir = cpv_direto('72')

In [52]:
def cpv_cpub(cpv):

    """
    Função que retorna os id's de todos os contratos para um determinado CPV para todos os Concursos Públicos

    Parâmetros :
        cpv : inserir os dois algarismos iniciais do CPV entre '' ( https://www.publictendering.com/cpv-codes/list-of-the-cpv-codes/ )
    
    Return :
        tuple : id's dos contratos
    """
    
    cur = conn.cursor()
    cur.execute('''
                SELECT "id"
                FROM "contratos"
                WHERE cpv LIKE %s AND tipo_procedimento = 'Concurso público';''', (cpv + '%',))

    
    return cur.fetchall()

cpub = cpv_cpub('72')

    Número de Contratos

In [53]:
def n_contracts(table):
    '''
    Retorna o número de contratos de uma tabela pertencente à base de dados

    Parâmetros : 
        - table : tabela de interesse

    return : 
        - int : número de contrato
    '''
    
    cur = conn.cursor()
    cur.execute('''
                SELECT COUNT(*) 
                FROM "{}"; '''.format(table))
    ncontract = cur.fetchone()[0]
    return ncontract

n_contracts("contratos")

5537

    Função que retorna contrato para número de id

In [12]:
def contrato(ide):
    '''
    '''
        
    cur = conn.cursor()
    cur.execute('''
        SELECT *
        FROM "contratos"
        WHERE id = %s; ''', (ide,))
    return pd.DataFrame(cur.fetchall())


def contratos(ide):
    '''
    '''
        
    cur = conn.cursor()
    cur.execute('''
        SELECT *
        FROM "contratos"
        WHERE id IN %s; ''', (tuple(ide),))
    return pd.DataFrame(cur.fetchall())

    Preço contratual

In [62]:
def preco_contrato1(ide):
    '''
    Função que retorna preço contratual a partir do id do anúncio para a tabela "contratos"

    Parâmetros :
        - ide : id do anúncio

    Return : 
        - int : preço contratual
    '''
        
    cur = conn.cursor()
    cur.execute('''
        SELECT preco_contratual
        FROM "contratos"
        WHERE id = %s; ''', (ide,))
    return float(cur.fetchone()[0])



# ---------------------------------------------------------------------------------------------------------------------------------------------------------



def preco_contrato2(ide, table = ""):
    '''
    Função que retorna preço contratual a partir do id do anúncio para um dada tabela

    Parâmetros :
        - ide : id do anúncio
        - table : tabela de interesse. Caso input esteja vazio, usar tabela 'contratos'

    Return : 
        - int : preço contratual
    '''

    if table == "": 
        table = "contratos"
        
    cur = conn.cursor()
    cur.execute('''
        SELECT preco_contratual
        FROM "{}"
        WHERE id = %s; '''.format(table), (ide,))
    return float((cur.fetchone())[0])


    
# ---------------------------------------------------------------------------------------------------------------------------------------------------------
    


#def preco_contrato3(id_anuncio):
#    
#    '''
#    Função que retorna preço contratual a partir de uma lista de ids de anúncios
#    '''
#    
#    cur.execute('''
#        SELECT preco_contratual
#        FROM "contratos"
#        WHERE id IN %s; ''', (tuple(id_anuncio),))
#    
#    return np.array(cur.fetchall()[0])

def preco_contrato3(id_anuncio):
    
    '''
    Função que retorna preço contratual a partir de uma lista de ids de anúncios
    '''
    
    cur.execute('''
        SELECT preco_contratual
        FROM "contratos"
        WHERE id IN %s; ''', (tuple(id_anuncio),))

   #preco = list(cur.fetchall())
   #
   #n = len(preco)
   #p = np.zeros(n)

   #for i in range(n):
   #    p[i] = (preco[i][0]).replace(".", "").replace(",",".").replace("€","")

    p = np.array(cur.fetchall(), dtype = float).reshape(len(id_anuncio),)
    return p


    
# ---------------------------------------------------------------------------------------------------------------------------------------------------------
    



def preco_contrato4(ide, table = ""):
    '''
    Função que retorna preço contratual a partir de uma lista de ids de anúncios para uma determinada tabela

    Parâmetros :
        - ide : id do anúncio
        - table : tabela de interesse. Caso input esteja vazio, usar tabela 'contratos'

    Return : 
        - int : preço contratual
    '''

    
    if table == "": 
        table = "contratos"

    
    cur.execute('''
        SELECT preco_contratual
        FROM "{}"
        WHERE id IN %s; '''.format(table), (tuple(ide),))
    
    return np.asarray(cur.fetchall())
    

    
# ---------------------------------------------------------------------------------------------------------------------------------------------------------

In [63]:
preco_contrato3(ids)

array([11900.  , 10409.85, 14530.4 , ..., 12692.  , 24834.5 , 60577.67])

    Preço Base

In [64]:
def preco_base(ide):
    '''
    Função que retorna preço base a partir do id do anúncio para a tabela "contratos"

    Parâmetros :
        - ide : id do anúncio

    Return : 
        - tuplo : preço contratual
    '''
        
    cur = conn.cursor()
    cur.execute('''
        SELECT anuncio_preco_base
        FROM "contratos"
        WHERE id = %s; ''', (ide,))
    
    return cur.fetchone()



def preco_base1(ide):
    '''
    Função que retorna preço base a partir do id do anúncio para a tabela "contratos"

    Parâmetros :
        - ide : id do anúncio

    Return : 
        - int : preço contratual
    '''
        
    cur = conn.cursor()
    cur.execute('''
        SELECT anuncio_preco_base
        FROM "contratos"
        WHERE id = %s; ''', (ide,))


    preco = cur.fetchone()[0]
    p1 = float(preco[:-2].replace(".", "").replace(",","."))
    
    return p1



# ---------------------------------------------------------------------------------------------------------------------------------------------------------



def preco_base2(ide, table = ""):
    '''
    Função que retorna preço base a partir do id do anúncio para um dada tabela

    Parâmetros :
        - ide : id do anúncio
        - table : tabela de interesse. Caso input esteja vazio, usar tabela 'contratos'

    Return : 
        - int : preço contratual
    '''

    if table == "": 
        table = "contratos"


    cur = conn.cursor()
    cur.execute('''
        SELECT anuncio_preco_base
        FROM "{}"
        WHERE id = %s; '''.format(table), (ide,))


    preco = cur.fetchone()[0]

    if preco != 0:
        p1 = float(preco[:-2].replace(".", "").replace(",","."))
    else:
        p1 = 0
    
    return p1
    


# ---------------------------------------------------------------------------------------------------------------------------------------------------------
    


def preco_base3(id_anuncio):
    
    '''
    Função que retorna preço base a partir de uma lista de ids de anúncios
    '''
    
    cur.execute('''
        SELECT anuncio_preco_base
        FROM "contratos"
        WHERE id IN %s; ''', (tuple(id_anuncio),))

    preco = list(cur.fetchall())


    # Como os valores do preco base estão no formato ---.---,--€ é precio converter em -------.-- para comparar posteriormente
    n = len(preco)
    p = np.zeros(n)
    
    for i in range(n):

        if preco[i][0] != 'None':
            p[i] = (preco[i][0]).replace(".", "").replace(",",".").replace("€","")

        else:
            pass
            
    return p

In [65]:
# Conjunto de todos os preços base
a = preco_base3(ids)

#pd.DataFrame(a).describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))
print("Nr de Zero Values :", len(a) - (np.count_nonzero(a)))
print("Nr de Non Zero Values :", (np.count_nonzero(a)))
print("% non zero values : ",round(np.count_nonzero(a)/len(a) * 100,1))

Nr de Zero Values : 2411
Nr de Non Zero Values : 497
% non zero values :  17.1

In [66]:
#nn_index = np.where(a != 0)[0]                 # índices dos ids dos contratos com preço base não nulo
#
#id1 = np.array(ids)                            # Transformação da lista de ids em array. Assim podemos extrair os ids não nulos usando os índices acima
#
#id2 = id1[nn_index]
#id2 = id2.reshape(len(id2),1)
#
#ids_nn = tuple(map(tuple, id2))                # ids não nulos. É preciso converter em tuplo para usar como input na função de preço base
#
#pb = preco_base3(ids_nn)
#pc = preco_contrato3(ids_nn)

In [77]:
df1 = contratos(ids).iloc[70:100,[0,2,18]]
df1=df1.rename(columns = {0:'ID',2:'PrecoBase', 18:'PrecoContratual'})
df1

          ID  PrecoBase PrecoContratual
70  10322236       None         5088.00
71  10330205       None         8890.00
72  10323553       None         2306.96
73  10323551       None        10000.00
74  10323290       None         1420.32
75  10323268       None        84000.00
76  10323243       None       120000.00
77  10322234   85144.85        69831.80
78  10325296  369261.00        75557.00
79  10323534   46782.75        38160.00
80  10323418       None          253.56
81  10323543       None          410.00
82  10323524       None         9850.25
83  10322222       None        10000.00
84  10324605       None         1338.40
85  10323679       None        10000.00
86  10324373       None         6390.00
87  10323396       None         8894.28
88  10323699       None        60711.00
89  10323702  103000.00        49618.00
90  10323503       None        13770.00
91  10324365       None        15908.32
92  10322216  199090.00        67623.41
93  10323670       None        10000.00
94  10323658       None         2427.08
95  10323607  154000.00        20194.25
96  10323267       None        58400.00
97  10322203       None        19950.00
98  10325271  143100.00          556.00
99  10324130       None        11550.00

In [68]:
def redflag(pbase, pcontr, tol, ids):
    
    """
    Função que calcula a diferença entre o preço base e preço contratual de um contrato realizado
    Se o preço contratual estiver contido num intervalo em torno do preço base é levantada um flag
    O intervalo é definido pelo parâmetro tolerância e é definido como : [preço_base - preço_base*tolerância, preço_base + preço_base*tolerância]
    Se o preço base não estiver definido, é levantada uma flag também 

    Parâmetros de entrada : 
        pbase : array com os preços base
        pcontr : array com os preços contratuas
        tol : valor da tolerância. Só pode tomar valores entre 0 e 1
        ids : id's dos contratos em questão

    Return : 
        f : tuplo com os id's dos contratos com flag associada
    """

    # Garantir que dimensão dos arrays com os preços é igual
    if len(pbase) != len(pcontr):
        return "Error : dim pbase != dim pcontr"

    # Garantir que tolerância é um numero entre 0 e 1
    if tol < 0 or tol > 1 :
        return "Error : tolerance must belong between 0 and 1"

    # Número de preços base
    n = len(pbase)

    # Array que guarda ocorrência - ou não - de uma flag
    flags = np.zeros(n)

    for i in range(n):

        # Definir limites superior e inferior, respetivamente
        up_lim = pbase[i] * (1 + tol)
        lo_lim = pbase[i] * (1 - tol)

        #if lo_lim <= pcontr[i] <= up_lim :
        #    flags[i] = 1
        #    print('True', pbase[i], pcontr[i])
        #    
        #elif pbase[i] == 0 :
        #    flags[i] = 1    
        #    
        #print(up_lim, lo_lim, pbase[i], pcontr[i])

        if pbase[i] == 0:
            flags[i] = 1

        elif pcontr[i] >= lo_lim :
            print('True')

        if pbase[i] != 0:
            print(lo_lim, up_lim, pcontr[i], pbase[i])

    # Conversão do tuplo de ids num array de uma coluna
    ids = np.array(ids).reshape((n,))

    # Contratos com ocorrência de uma flag
    pos = np.where(flags != 0)

    # Selecionar contratos onde ocorre flag
    f = ids[pos]

    # Conversão do conjunto de contratos em tuplo para poder usar como input nas funções que têm como input id's de contratos
    f = f.reshape((len(f),1))
    f = tuple(map(tuple,f))
    
    return f

pb = preco_base3(ids)
pc = preco_contrato3(ids)
coiso = redflag(pb,pc,0.25, ids)

df = contratos(coiso).head(50).iloc[:,[0,2,18]]
df = df.rename(columns = {0:'ID',2:'PrecoBase', 18:'PrecoContratual'})
df

7205400.0 12009000.0 10409.85 9607200.0
2591133.75 4318556.25 14530.4 3454845.0
180000000.0 300000000.0 2794889.61 240000000.0
5250000.0 8750000.0 58226.0 7000000.0
26202599.25 43670998.75 343898.9 34936799.0
18750000.0 31250000.0 196164.0 25000000.0
53850000.0 89750000.0 93000.0 71800000.0
34275000.0 57125000.0 457000.0 45700000.0
79957545.0 133262575.0 892309.45 106610060.0
15435000.0 25725000.0 178999.0 20580000.0
11250000.0 18750000.0 142641.0 15000000.0
8499675.0 14166125.0 12080.0 11332900.0
14931750.0 24886250.0 12184.0 19909000.0
15794089.5 26323482.5 49993.21 21058786.0
6385863.75 10643106.25 69831.8 8514485.0
27694575.0 46157625.0 75557.0 36926100.0
3508706.25 5847843.75 38160.0 4678275.0
7725000.0 12875000.0 49618.0 10300000.0
14931750.0 24886250.0 67623.41 19909000.0
11550000.0 19250000.0 20194.25 15400000.0
10732500.0 17887500.0 556.0 14310000.0
8231293.5 13718822.5 12917.28 10975058.0
2591133.75 4318556.25 2837.81 3454845.0
2141280.0 3568800.0 25301.28 2855040.0
7205400.0 12009000.0 2564.1 9607200.0
7875000.0 13125000.0 89910.0 10500000.0
7205400.0 12009000.0 1869.0 9607200.0
6097500.0 10162500.0 16373.0 8130000.0
54529687.5 90882812.5 214655.98 72706250.0
10325250.0 17208750.0 113524.8 13767000.0
44437500.0 74062500.0 521150.0 59250000.0
26425650.0 44042750.0 18900.0 35234200.0
28125000.0 46875000.0 337000.0 37500000.0
7205400.0 12009000.0 28979.5 9607200.0
37500000.0 62500000.0 439546.02 50000000.0
11454975.0 19091625.0 54000.0 15273300.0
35711156.25 59518593.75 55959.75 47614875.0
22500000.0 37500000.0 227250.0 30000000.0
112923096.75 188205161.25 1493200.0 150564129.0
10732500.0 17887500.0 22100.0 14310000.0
7386406.5 12310677.5 57.96 9848542.0
4925271.75 8208786.25 4481.4 6567029.0
55875000.0 93125000.0 324000.0 74500000.0
43500000.0 72500000.0 556575.37 58000000.0
52433162.25 87388603.75 699108.83 69910883.0
7386406.5 12310677.5 29901.8 9848542.0
3353400.0 5589000.0 42012.0 4471200.0
9750000.0 16250000.0 126680.0 13000000.0
10732500.0 17887500.0 56187.5 14310000.0
7386406.5 12310677.5 488.4 9848542.0
4500000.0 7500000.0 26600.0 6000000.0
72939562.5 121565937.5 383050.0 97252750.0
2067000.0 3445000.0 11375.0 2756000.0
72939562.5 121565937.5 492677.5 97252750.0
41258560.5 68764267.5 544899.12 55011414.0
2067000.0 3445000.0 87.08 2756000.0
4925271.75 8208786.25 1774.88 6567029.0
3272475.0 5454125.0 2713.23 4363300.0
5617500.0 9362500.0 73945.0 7490000.0
3272475.0 5454125.0 29720.0 4363300.0
7386406.5 12310677.5 339.0 9848542.0
17897653.5 29829422.5 209941.2 23863538.0
16050000.0 26750000.0 213900.0 21400000.0
149625000.0 249375000.0 1993703.13 199500000.0
7386406.5 12310677.5 45.5 9848542.0
11250000.0 18750000.0 5000.0 15000000.0
6638700.0 11064500.0 9550.0 8851600.0
11250000.0 18750000.0 145000.0 15000000.0
39392362.5 65653937.5 259500.0 52523150.0
16124796.0 26874660.0 13122.84 21499728.0
29389125.0 48981875.0 280350.0 39185500.0
26425650.0 44042750.0 30197.25 35234200.0
8207547.0 13679245.0 103301.0 10943396.0
295095412.5 491825687.5 1527337.5 393460550.0
19016100.0 31693500.0 253368.0 25354800.0
8125408.5 13542347.5 99700.0 10833878.0
7277121.75 12128536.25 26759.0 9702829.0
1500000.0 2500000.0 20000.0 2000000.0
9471750.0 15786250.0 15080.0 12629000.0
7164063.75 11940106.25 74703.55 9552085.0
330000000.0 550000000.0 4336000.0 440000000.0
4138344.0 6897240.0 15422.4 5517792.0
36750000.0 61250000.0 490000.0 49000000.0
4138344.0 6897240.0 39755.52 5517792.0
15698400.0 26164000.0 174859.0 20931200.0
27487500.0 45812500.0 73859.5 36650000.0
26425650.0 44042750.0 16180.96 35234200.0
4669875.0 7783125.0 31350.0 6226500.0
11261335.5 18768892.5 150436.69 15015114.0
27487500.0 45812500.0 279304.48 36650000.0
450000000.0 750000000.0 3387960.72 600000000.0
35711156.25 59518593.75 240191.0 47614875.0
35711156.25 59518593.75 44625.0 47614875.0
7481250.0 12468750.0 99750.0 9975000.0
6681580.5 11135967.5 82068.44 8908774.0
55875000.0 93125000.0 286491.0 74500000.0
16712224.5 27853707.5 20662.5 22282966.0
24000000.0 40000000.0 306030.0 32000000.0
18585375.0 30975625.0 247505.0 24780500.0
8625000.0 14375000.0 105900.0 11500000.0
16712224.5 27853707.5 21551.64 22282966.0
18021901.5 30036502.5 227656.77 24029202.0
83719514.25 139532523.75 124693.32 111626019.0
2967827.25 4946378.75 35184.61 3957103.0
7164063.75 11940106.25 2474.0 9552085.0
75900000.0 126500000.0 896542.38 101200000.0
16124796.0 26874660.0 201235.44 21499728.0
16712224.5 27853707.5 43395.6 22282966.0
7205400.0 12009000.0 20090.0 9607200.0
2379675.0 3966125.0 31542.5 3172900.0
5084752.5 8474587.5 3206.0 6779670.0
3225000.0 5375000.0 38022.43 4300000.0
3750000.0 6250000.0 44934.0 5000000.0
26425650.0 44042750.0 15424.0 35234200.0
19575000.0 32625000.0 138700.0 26100000.0
26425650.0 44042750.0 36950.0 35234200.0
16712224.5 27853707.5 20793.0 22282966.0
26425650.0 44042750.0 23912.5 35234200.0
16119600.0 26866000.0 214928.0 21492800.0
16712224.5 27853707.5 5689.8 22282966.0
44250000.0 73750000.0 218617.5 59000000.0
6375000.0 10625000.0 85000.0 8500000.0
12982500.0 21637500.0 162830.0 17310000.0
27694575.0 46157625.0 89618.64 36926100.0
7749000.0 12915000.0 66600.0 10332000.0
74986251.75 124977086.25 848758.52 99981669.0
131211054.0 218685090.0 1709717.93 174948072.0
4794475.5 7990792.5 48291.68 6392634.0
3492352.5 5820587.5 37112.18 4656470.0
101250000.0 168750000.0 1290000.0 135000000.0
11550000.0 19250000.0 26364.0 15400000.0
3632812.5 6054687.5 21876.12 4843750.0
7205400.0 12009000.0 10166.4 9607200.0
3596250.0 5993750.0 33670.0 4795000.0
36561000.0 60935000.0 309262.18 48748000.0
15205050.0 25341750.0 1605.0 20273400.0
5670000.0 9450000.0 67392.0 7560000.0
217500000.0 362500000.0 1821341.56 290000000.0
149237535.0 248729225.0 50979.0 198983380.0
5641443525.0 9402405875.0 17338446.0 7521924700.0
15752151.0 26253585.0 344.4 21002868.0
59646658.5 99411097.5 793854.6 79528878.0
15000000.0 25000000.0 157946.04 20000000.0
7374018.75 12290031.25 78624.04 9832025.0
15752151.0 26253585.0 3168.0 21002868.0
11550000.0 19250000.0 99003.7 15400000.0
6063750.0 10106250.0 74637.0 8085000.0
15752151.0 26253585.0 1044.0 21002868.0
141975000.0 236625000.0 1863547.21 189300000.0
4687500.0 7812500.0 41500.0 6250000.0
7950000.0 13250000.0 59990.0 10600000.0
2250000.0 3750000.0 7994.25 3000000.0
19746750.0 32911250.0 197999.58 26329000.0
3000000.0 5000000.0 39600.0 4000000.0
2250000.0 3750000.0 21986.2 3000000.0
45608175.0 76013625.0 518790.0 60810900.0
15752151.0 26253585.0 8568.0 21002868.0
8797500.0 14662500.0 116640.0 11730000.0
2967827.25 4946378.75 1653.0 3957103.0
7614000.0 12690000.0 61800.0 10152000.0
11250000.0 18750000.0 102750.0 15000000.0
7500000.0 12500000.0 90100.0 10000000.0
11250000.0 18750000.0 150000.0 15000000.0
45116118.0 75193530.0 540506.16 60154824.0
20295333.0 33825555.0 7402.91 27060444.0
6097500.0 10162500.0 21198.1 8130000.0
1021500000.0 1702500000.0 13600000.0 1362000000.0
10468050.0 17446750.0 1835.0 13957400.0
11685000.0 19475000.0 95480.0 15580000.0
10468050.0 17446750.0 6073.5 13957400.0
27694575.0 46157625.0 67437.0 36926100.0
27694575.0 46157625.0 73472.8 36926100.0
27694575.0 46157625.0 42272.0 36926100.0
13500000.0 22500000.0 92485.8 18000000.0
5461663.5 9102772.5 30272.46 7282218.0
4925271.75 8208786.25 3593.61 6567029.0
15752151.0 26253585.0 23763.6 21002868.0
2079246.0 3465410.0 22619.26 2772328.0
14062500.0 23437500.0 185500.0 18750000.0
14847159.75 24745266.25 156456.92 19796213.0
53850000.0 89750000.0 11000.0 71800000.0
7277121.75 12128536.25 16110.0 9702829.0
14672817.0 24454695.0 190209.0 19563756.0
10183055.25 16971758.75 43940.64 13577407.0
134192700.0 223654500.0 1367280.0 178923600.0
14078250.0 23463750.0 166425.6 18771000.0
26605579.5 44342632.5 333102.75 35474106.0
16124250.0 26873750.0 214499.4 21499000.0
7125000.0 11875000.0 95000.0 9500000.0
2250000.0 3750000.0 29900.0 3000000.0
371250000.0 618750000.0 4536990.9 495000000.0
10351137.75 17251896.25 18697.57 13801517.0
8484115.5 14140192.5 113121.54 11312154.0
10350000.0 17250000.0 138000.0 13800000.0
2591133.75 4318556.25 10497.5 3454845.0
19775700.0 32959500.0 11110.0 26367600.0
2591133.75 4318556.25 29.31 3454845.0
1708151.25 2846918.75 22775.35 2277535.0
12320670.0 20534450.0 81895.2 16427560.0
5831795.25 9719658.75 77684.07 7775727.0
5641443525.0 9402405875.0 3182673.0 7521924700.0
138839250.0 231398750.0 322300.0 185119000.0
8856880.5 14761467.5 114519.97 11809174.0
1087500.0 1812500.0 14481.63 1450000.0
7860000.0 13100000.0 29258.05 10480000.0
42542958.75 70904931.25 8989.5 56723945.0
7308409.5 12180682.5 26525.52 9744546.0
11250000.0 18750000.0 150000.0 15000000.0
22077899.25 36796498.75 36055.68 29437199.0
22077899.25 36796498.75 29929.0 29437199.0
177808500.0 296347500.0 923292.0 237078000.0
48000000.0 80000000.0 639600.0 64000000.0
10867500.0 18112500.0 144900.0 14490000.0
42542958.75 70904931.25 209819.32 56723945.0
3795000.0 6325000.0 50.56 5060000.0
8499675.0 14166125.0 101249.0 11332900.0
7860000.0 13100000.0 5774.83 10480000.0
26093999.25 43489998.75 77753.23 34791999.0
15752151.0 26253585.0 24420.0 21002868.0
13500000.0 22500000.0 50000.0 18000000.0
48750000.0 81250000.0 649271.48 65000000.0
5748052.5 9580087.5 52242.25 7664070.0
9000000.0 15000000.0 95429.0 12000000.0
3750000.0 6250000.0 42549.52 5000000.0
1687350.0 2812250.0 22498.0 2249800.0
61387965.75 102313276.25 71484.0 81850621.0
37255002.0 62091670.0 69849.5 49673336.0
1080000.0 1800000.0 14400.0 1440000.0
2310000.0 3850000.0 26651.1 3080000.0
15752151.0 26253585.0 6336.0 21002868.0
3375000.0 5625000.0 45000.0 4500000.0
15752151.0 26253585.0 14930.0 21002868.0
13293000.0 22155000.0 162890.0 17724000.0
45544500.0 75907500.0 607260.0 60726000.0
10425000.0 17375000.0 89999.98 13900000.0
2250000.0 3750000.0 30000.0 3000000.0
1275000000.0 2125000000.0 12550000.0 1700000000.0
40574250.0 67623750.0 498300.0 54099000.0
53850000.0 89750000.0 57443.76 71800000.0
33272748.0 55454580.0 405171.36 44363664.0
14843602.5 24739337.5 168077.2 19791470.0
13415625.0 22359375.0 28125.0 17887500.0
13415625.0 22359375.0 130500.0 17887500.0
1500000.0 2500000.0 16340.0 2000000.0
15752151.0 26253585.0 2145.6 21002868.0
36000000.0 60000000.0 393000.0 48000000.0
15322500.0 25537500.0 39937.5 20430000.0
15752151.0 26253585.0 1368.0 21002868.0
12187500.0 20312500.0 102000.0 16250000.0
18748910.25 31248183.75 249725.0 24998547.0
7205400.0 12009000.0 8459.55 9607200.0
12375000.0 20625000.0 139900.0 16500000.0
2144250.0 3573750.0 21312.5 2859000.0
24626707.5 41044512.5 295930.44 32835610.0
7205400.0 12009000.0 13426.1 9607200.0
45360000.0 75600000.0 201600.0 60480000.0
45608175.0 76013625.0 11852.4 60810900.0
6862500.0 11437500.0 49151.52 9150000.0
15794089.5 26323482.5 2075.2 21058786.0
20295333.0 33825555.0 26447.53 27060444.0
3750000.0 6250000.0 42549.52 5000000.0
3753750.0 6256250.0 40650.41 5005000.0
19275000.0 32125000.0 240000.0 25700000.0
5271499.5 8785832.5 40000.0 7028666.0
7386406.5 12310677.5 288.0 9848542.0
41250000.0 68750000.0 549869.15 55000000.0
9209437.5 15349062.5 108921.75 12279250.0
7386406.5 12310677.5 137.8 9848542.0
24937500.0 41562500.0 332500.0 33250000.0
10800000.0 18000000.0 129595.2 14400000.0
40500000.0 67500000.0 467689.59 54000000.0
1919250.0 3198750.0 25545.0 2559000.0
834504.0 1390840.0 11126.72 1112672.0
961875.0 1603125.0 12825.0 1282500.0
1425000.0 2375000.0 18500.0 1900000.0
7386406.5 12310677.5 140.0 9848542.0
30579806.25 50966343.75 103200.0 40773075.0
9310689.75 15517816.25 124142.53 12414253.0
2067000.0 3445000.0 4980.0 2756000.0
8850000.0 14750000.0 112486.01 11800000.0
3723000.0 6205000.0 43870.0 4964000.0
337500000.0 562500000.0 4092029.12 450000000.0
2234001.75 3723336.25 9338.0 2978669.0
7500000.0 12500000.0 79703.0 10000000.0
5551350.0 9252250.0 69632.05 7401800.0
22077899.25 36796498.75 26044.4 29437199.0
16011873.0 26686455.0 42545.0 21349164.0
4531350.0 7552250.0 44315.0 6041800.0
2067000.0 3445000.0 2349.0 2756000.0
44250000.0 73750000.0 259794.42 59000000.0
16500000.0 27500000.0 138500.0 22000000.0
22077899.25 36796498.75 7612.0 29437199.0
2067000.0 3445000.0 365.0 2756000.0
84992700.0 141654500.0 834802.44 113323600.0
2067000.0 3445000.0 1363.69 2756000.0
22077899.25 36796498.75 22490.0 29437199.0
450000000.0 750000000.0 2863657.4 600000000.0
5589750.0 9316250.0 66520.0 7453000.0
3272475.0 5454125.0 2875.0 4363300.0
7386406.5 12310677.5 712.0 9848542.0
22077899.25 36796498.75 13651.25 29437199.0
11670000.0 19450000.0 144963.72 15560000.0
37255002.0 62091670.0 93856.42 49673336.0
1650000.0 2750000.0 21900.0 2200000.0
16110000.0 26850000.0 202409.12 21480000.0
43243500.0 72072500.0 18313.02 57658000.0
26093999.25 43489998.75 34003.96 34791999.0
21375000.0 35625000.0 226000.0 28500000.0
16950000.0 28250000.0 219192.06 22600000.0
43243500.0 72072500.0 554485.2 57658000.0
25125000.0 41875000.0 255469.8 33500000.0
5863270.5 9772117.5 27873.06 7817694.0
20295333.0 33825555.0 60474.74 27060444.0
12735849.0 21226415.0 169551.62 16981132.0
39750000.0 66250000.0 458024.05 53000000.0
7075471.5 11792452.5 24500.0 9433962.0
138839250.0 231398750.0 2772.0 185119000.0
138839250.0 231398750.0 33600.0 185119000.0
138839250.0 231398750.0 329369.22 185119000.0
138839250.0 231398750.0 13200.0 185119000.0
2550507.0 4250845.0 32852.52 3400676.0
138839250.0 231398750.0 1087200.0 185119000.0
22077899.25 36796498.75 10921.0 29437199.0
6393000.0 10655000.0 73355.76 8524000.0
26930025.0 44883375.0 111285.0 35906700.0
177808500.0 296347500.0 950490.36 237078000.0
26093999.25 43489998.75 21976.71 34791999.0
13481250.0 22468750.0 25000.0 17975000.0
26093999.25 43489998.75 9518.03 34791999.0
58500000.0 97500000.0 551052.0 78000000.0
10875000.0 18125000.0 132000.0 14500000.0
45608175.0 76013625.0 27400.8 60810900.0
7500000.0 12500000.0 100000.0 10000000.0
22077899.25 36796498.75 3243.7 29437199.0
3000000.0 5000000.0 40000.0 4000000.0
45608175.0 76013625.0 5194.0 60810900.0
22125000.0 36875000.0 289037.0 29500000.0
22077899.25 36796498.75 29940.7 29437199.0
3825843.75 6376406.25 49992.41 5101125.0
15752151.0 26253585.0 1980.0 21002868.0
17991204.75 29985341.25 235179.3 23988273.0
42542958.75 70904931.25 30877.5 56723945.0
5062500.0 8437500.0 67500.0 6750000.0
7860000.0 13100000.0 20560.2 10480000.0
132750600.0 221251000.0 1655855.64 177000800.0
212250000.0 353750000.0 2602944.8 283000000.0
42542958.75 70904931.25 5687.5 56723945.0
102612645.0 171021075.0 709617.8 136816860.0
20295333.0 33825555.0 17093.0 27060444.0
102612645.0 171021075.0 223763.75 136816860.0
5601225.0 9335375.0 55980.35 7468300.0
493169687.25 821949478.75 4740545.83 657559583.0
9577575.0 15962625.0 89400.0 12770100.0
14843602.5 24739337.5 17500.0 19791470.0
13718136.75 22863561.25 178945.5 18290849.0
465750.0 776250.0 4680.0 621000.0
14386177.5 23976962.5 188937.25 19181570.0
52522760.25 87537933.75 11650.0 70030347.0
4917813.75 8196356.25 962.88 6557085.0
3000000.0 5000000.0 33850.0 4000000.0
4153500.0 6922500.0 198.14 5538000.0
4153500.0 6922500.0 2094.92 5538000.0
5550000.0 9250000.0 56167.19 7400000.0
3385875.0 5643125.0 3423.6 4514500.0
3385875.0 5643125.0 2991.0 4514500.0
3385875.0 5643125.0 5149.9 4514500.0
3385875.0 5643125.0 2220.0 4514500.0
7500000.0 12500000.0 64200.0 10000000.0
3385875.0 5643125.0 8900.0 4514500.0
1912500.0 3187500.0 24079.0 2550000.0
18600000.0 31000000.0 248000.0 24800000.0
4875000.0 8125000.0 62000.0 6500000.0
11775000.0 19625000.0 137310.0 15700000.0
2984850.0 4974750.0 12270.0 3979800.0
2362500.0 3937500.0 31500.0 3150000.0
59250000.0 98750000.0 632000.0 79000000.0
11304000.0 18840000.0 50240.0 15072000.0
4925271.75 8208786.25 4344.0 6567029.0
23220000.0 38700000.0 696.0 30960000.0
15000000.0 25000000.0 184402.5 20000000.0
13286250.0 22143750.0 41655.32 17715000.0
102771742.5 171286237.5 1260000.13 137028990.0
7125000.0 11875000.0 95000.0 9500000.0
5719500.0 9532500.0 1520.0 7626000.0
9023541.75 15039236.25 3737.09 12031389.0
3319443.75 5532406.25 8653.5 4425925.0
40500000.0 67500000.0 494449.25 54000000.0
5719500.0 9532500.0 32960.0 7626000.0
21516493.5 35860822.5 51947.5 28688658.0
13286250.0 22143750.0 39381.03 17715000.0
21516493.5 35860822.5 15734.35 28688658.0
21516493.5 35860822.5 16844.1 28688658.0
21516493.5 35860822.5 14816.0 28688658.0
3706045.5 6176742.5 49413.94 4941394.0
13286250.0 22143750.0 82736.73 17715000.0
2985000.0 4975000.0 39593.5 3980000.0
25050000.0 41750000.0 269600.0 33400000.0
20218630.5 33697717.5 195612.89 26958174.0
4162500.0 6937500.0 43950.0 5550000.0
3307050.0 5511750.0 43068.0 4409400.0
1865322.0 3108870.0 7984.0 2487096.0
1740825.0 2901375.0 7984.0 2321100.0
5719500.0 9532500.0 17373.0 7626000.0
37200000.0 62000000.0 400.0 49600000.0
37200000.0 62000000.0 174750.0 49600000.0
17700000.0 29500000.0 235990.0 23600000.0
67531500.0 112552500.0 880109.39 90042000.0
37200000.0 62000000.0 25062.5 49600000.0
37200000.0 62000000.0 71875.0 49600000.0
168000000.0 280000000.0 2141569.23 224000000.0
5587500.0 9312500.0 18891.0 7450000.0
1960462.5 3267437.5 26139.5 2613950.0
9326904.0 15544840.0 5294.4 12435872.0
11985604.5 19976007.5 159699.54 15980806.0
14250000.0 23750000.0 48000.0 19000000.0
8300775.0 13834625.0 99990.0 11067700.0
14250000.0 23750000.0 98439.24 19000000.0
29317236.75 48862061.25 36900.0 39089649.0
29317236.75 48862061.25 35952.0 39089649.0
29317236.75 48862061.25 35969.76 39089649.0
29317236.75 48862061.25 172674.62 39089649.0
29317236.75 48862061.25 19890.0 39089649.0
183750000.0 306250000.0 2445000.0 245000000.0
8490566.25 14150943.75 78700.4 11320755.0
23306850.0 38844750.0 102960.0 31075800.0
1983804.75 3306341.25 5556.77 2645073.0
56250000.0 93750000.0 750000.0 75000000.0
2338446.75 3897411.25 182.05 3117929.0
1068750.0 1781250.0 14250.0 1425000.0
2338446.75 3897411.25 4039.58 3117929.0
2338446.75 3897411.25 1748.76 3117929.0
2338446.75 3897411.25 834.75 3117929.0
2338446.75 3897411.25 1505.5 3117929.0
1200000.0 2000000.0 16000.0 1600000.0
5719500.0 9532500.0 3228.0 7626000.0
4500000.0 7500000.0 18581.2 6000000.0
2338446.75 3897411.25 1199.59 3117929.0
15997500.0 26662500.0 196478.0 21330000.0
13633884.0 22723140.0 4224.0 18178512.0
4925271.75 8208786.25 32527.0 6567029.0
4925271.75 8208786.25 1399.83 6567029.0
13500000.0 22500000.0 60000.0 18000000.0
4925271.75 8208786.25 1147.05 6567029.0
13633884.0 22723140.0 4317.28 18178512.0
4925271.75 8208786.25 2512.52 6567029.0
17472375.0 29120625.0 75825.0 23296500.0
4925271.75 8208786.25 851.7 6567029.0
4925271.75 8208786.25 558.52 6567029.0
14876977.5 24794962.5 27.75 19835970.0
2338446.75 3897411.25 109.0 3117929.0
5625000.0 9375000.0 49225.0 7500000.0
14876977.5 24794962.5 2040.0 19835970.0
5594209.5 9323682.5 66101.69 7458946.0
4925271.75 8208786.25 821.18 6567029.0
2338446.75 3897411.25 11201.05 3117929.0
106500000.0 177500000.0 1420000.0 142000000.0
60450000.0 100750000.0 731076.79 80600000.0
14876977.5 24794962.5 32614.4 19835970.0
2338446.75 3897411.25 223.08 3117929.0
2338446.75 3897411.25 1008.95 3117929.0
21810000.0 36350000.0 290800.0 29080000.0
9000000.0 15000000.0 95300.0 12000000.0
3815680.5 6359467.5 49011.6 5087574.0
6846525.0 11410875.0 12771.0 9128700.0
6846525.0 11410875.0 17010.0 9128700.0
6846525.0 11410875.0 620.46 9128700.0
25780411.5 42967352.5 144619.4 34373882.0
5863270.5 9772117.5 43147.9 7817694.0
18265272.75 30442121.25 5940.0 24353697.0
4292889.0 7154815.0 20235.0 5723852.0
5775000.0 9625000.0 76359.99 7700000.0
4292889.0 7154815.0 1732.43 5723852.0
18265272.75 30442121.25 397.0 24353697.0
4292889.0 7154815.0 2.4 5723852.0
4292889.0 7154815.0 4229.7 5723852.0
4292889.0 7154815.0 1833.75 5723852.0
4292889.0 7154815.0 3948.59 5723852.0
4292889.0 7154815.0 2796.75 5723852.0
2338446.75 3897411.25 682.18 3117929.0
18265272.75 30442121.25 4928.0 24353697.0
4292889.0 7154815.0 1504.0 5723852.0
18265272.75 30442121.25 67465.0 24353697.0
2338446.75 3897411.25 166.4 3117929.0
19435500.0 32392500.0 85294.08 25914000.0
381093.75 635156.25 5075.0 508125.0
54529687.5 90882812.5 110960.0 72706250.0
52522760.25 87537933.75 16750.0 70030347.0
10500000.0 17500000.0 52244.93 14000000.0

          ID PrecoBase PrecoContratual
0   10322372      None        11900.00
1   10323701      None         8932.00
2   10323697      None        12000.00
3   10323706      None        13860.00
4   10323705      None        10000.00
5   10323359      None          801.00
6   10323281      None        15000.00
7   10322358      None         8000.00
8   10323698      None         9920.00
9   10325356      None         1780.00
10  10323501      None       183690.00
11  10322338      None        16270.00
12  10323695      None         5160.00
13  10323689      None        19800.00
14  10323484      None         5770.00
15  10323278      None        20000.00
16  10325347      None        47966.51
17  10322322      None        10000.00
18  10325333      None          710.00
19  10323663      None        32400.00
20  10323275      None        11500.00
21  10322302      None         7434.77
22  10325327      None          600.00
23  10323655      None         4032.00
24  10323651      None          582.00
25  10323332      None       114655.60
26  10323264      None        11854.00
27  10329921      None           37.50
28  10322299      None         4436.98
29  10323640      None         7800.00
30  10323317      None        21000.00
31  10323645      None        19226.50
32  10322289      None          698.00
33  10325303      None         2008.50
34  10323622      None         4800.00
35  10323308      None        97753.52
36  10323628      None        19990.00
37  10323623      None         5130.00
38  10322282      None        19980.00
39  10325300      None         4588.00
40  10330386      None        10000.00
41  10323451      None          506.80
42  10323619      None        20910.00
43  10322266      None        63317.64
44  10323600      None        19392.00
45  10323444      None        10000.00
46  10323598      None        48032.00
47  10323294      None         3665.98
48  10323269      None        16722.60
49  10322263      None           26.00

<br>

<br>

<br>

<br>

<br>

In [83]:
cur = conn.cursor()
cur.execute('''
        SELECT tipo_procedimento, COUNT (tipo_procedimento)
        FROM "contratos"
        GROUP BY "tipo_procedimento"
        ORDER BY COUNT(tipo_procedimento) DESC;;''')

df = (pd.DataFrame(cur.fetchall()))
HTML(df.to_html(index=False))

In [92]:
cur = conn.cursor()

cur.execute('''
        SELECT "contractTypes", COUNT ("contractTypes")
        FROM "contratos"
        GROUP BY "contractTypes"
        ORDER BY  COUNT("contractTypes") DESC;;''')

df = (pd.DataFrame(cur.fetchall()))
HTML(df.to_html(index=False))

In [7]:
cur.execute('''
    TABLE "contratos";
''')

df = (pd.DataFrame(cur.fetchmany(1)))
HTML(df.to_html(index=False))