In [1]:
import psycopg2
from psycopg2 import OperationalError
import pandas as pd
import numpy as np
from IPython.display import HTML

**Executar este comando quando ocorre um erro ao tentar realizar uma query**

In [9]:
cur.execute('''ROLLBACK;''')

**Criar a ligação com a database**

In [2]:
# def create_connection(db_name, db_user, db_password, db_host, db_port):
#     connection = None
#     try:
#         connection = psycopg2.connect(
#             database=db_name,
#             user=db_user,
#             password=db_password,
#             host=db_host,
#             port=db_port,
#         )
#         print("Connection to PostgreSQL DB successful")
#     except OperationalError as e:
#         print(f"The error '{e}' occurred")
#     return connection
# 
# connection = create_connection("aim4ps", "myuser", "1234", "localhost", "5434")

conn = psycopg2.connect(
    host="localhost",
    port = 5434,
    database="aim4ps",
    user="myuser",
    password="1234")

cur = conn.cursor()

<br>

**Selecionar nomes das colunas**

In [3]:
cur.execute('''
    SELECT column_name
    FROM information_schema.columns
    WHERE table_name = 'CONTRACTS';
''');

print(cur.fetchall())

[('data_celebracao',), ('preco_contratual',), ('prazo_execucao',), ('criterios_ambientais',), ('data_publicacao',), ('entidade_adjudicante',), ('fundamentacao',), ('entidades_concorrentes',), ('url_entidades_concorrente',), ('url_anuncio',), ('url_peças_procedimento',), ('url_documentos',), ('idcontrato',), ('cpv',), ('n_anuncio',), ('tipo_procedimento',), ('objecto_contrato',), ('nif_entidade_adjudicante',)]

<br>

**Número de contratos total**

In [22]:
cur.execute('''
    SELECT COUNT(*) FROM "public"."CONTRACTS";
''')

print("Número de contratos : ", cur.fetchone()[0])

Número de contratos :  338312

<br>

**Imprimir um contrato da tabela CONTRACTS**

In [122]:
cur.execute('''
    TABLE "CONTRACTS";
''')

print(cur.fetchmany(1))

[('8584386', 'None', 'Consulta Prévia', 'Serviços de manutenção de espaços verdes 2022: incluindo o corte de relva, manutenção do sistema de rede de rega, adubagem, pesticidas e inseticidas, podas de árvores e arbustos, o fornecimento de mão de obra necessária, assim como a maquinaria, transportes, materiais, ferramentas e outros equipamentos e produtos necessários ao correto desenvolvimento dos trabalhos', datetime.date(2022, 1, 2), datetime.date(2022, 1, 2), 7163.16, 364, '510837778', 'União das Freguesias de Margaride (Santa Eulália), Várzea, Lagares, Varziela e Moure', 'Artigo 20.º, n.º 1, alínea c) do Código dos Contratos Públicos', 'José Costa Teixeira (-)|||JARDINAGEM - Miguel Ricardo de Melo Moreira (-)|||Enfeites Prometidos, Jardinagem Unipessoal, Lda. (513718117)', 'https://www.base.gov.pt/Base4/pt/detalhe/?type=entidades&id=561696', 'None', 'None', 'https://www.base.gov.pt/Base4/pt/resultados/?type=doc_documentos&id=1491947&ext=.pdf', False, '77311000-3')]

<br>

**Ordenar tipo de procedimentos por ordem decrescente de contratos realizados**

In [175]:
cur = conn.cursor()
cur.execute('''
        SELECT tipo_procedimento, COUNT (tipo_procedimento)
        FROM "CONTRACTS"
        GROUP BY "tipo_procedimento"
        ORDER BY COUNT(tipo_procedimento) DESC;;''')

df = (pd.DataFrame(cur.fetchall()))
HTML(df.to_html(index=False))

<br>

**Criar uma tabela apenas com os Ajustes Diretos em Regime Geral**

In [124]:
cur = conn.cursor()
cur.execute('''
        CREATE TABLE ajustes_diretos AS
        SELECT * 
        FROM "CONTRACTS"
        WHERE tipo_procedimento = 'Ajuste Direto Regime Geral';
''')

DuplicateTable: relation "ajustes_diretos" already exists

<br>

**Selecionar apenas um dos contratos da tabela criada acima**

In [4]:
cur.execute('''
    TABLE "ajustes_diretos";
''')

pd.DataFrame(cur.fetchmany(1))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,8584389,None,Ajuste Direto Regime Geral,Serviços no âmbito da Ação Social: Sinalizar i...,2022-01-02,2022-01-02,10800.0,364,506970892,Freguesia de Ronfe,"Artigo 20.º, n.º 1, alínea d) do Código dos Co...",Joana Maria de Sousa Ferreira Lima de Freitas (-),https://www.base.gov.pt/Base4/pt/detalhe/?type...,None,None,https://www.base.gov.pt/Base4/pt/resultados/?t...,False,85322000-2

<br>

**Ordenar, por ordem decrescente, as empresas com mais ajustes diretos realizados**

In [46]:
cur = conn.cursor()
cur.execute('''
        SELECT entidade_adjudicante, COUNT (entidade_adjudicante)
        FROM "CONTRACTS"
        WHERE tipo_procedimento = 'Ajuste Direto Regime Geral'
        GROUP BY "entidade_adjudicante"
        ORDER BY COUNT(entidade_adjudicante) DESC;''')

print("\n Ajustes Diretos")
HTML(pd.DataFrame(cur.fetchmany(20)).to_html(index=False))

 Ajustes Diretos

<br>

**Ordenar, por ordem decrescente, as empresas com mais concursos públicos realizados**

In [47]:
cur = conn.cursor()
cur.execute('''
        SELECT entidade_adjudicante, COUNT (entidade_adjudicante)
        FROM "CONTRACTS"
        WHERE tipo_procedimento = 'Concurso público'
        GROUP BY "entidade_adjudicante"
        ORDER BY COUNT(entidade_adjudicante) DESC;''')

print("\n Concursos Públicos")
HTML(pd.DataFrame(cur.fetchmany(20)).to_html(index=False))

 Concursos Públicos

<br>

**Ordenar, por ordem decrescente, as empresas com mais consultas prévias realizados**

In [48]:
cur = conn.cursor()
cur.execute('''
        SELECT entidade_adjudicante, COUNT (entidade_adjudicante)
        FROM "CONTRACTS"
        WHERE tipo_procedimento = 'Consulta Prévia'
        GROUP BY "entidade_adjudicante"
        ORDER BY COUNT(entidade_adjudicante) DESC;''')

print("\n Consultas Prévias")
HTML(pd.DataFrame(cur.fetchmany(20)).to_html(index=False))

 Consultas Prévias

<br>

***

<br>

<h2><center> Forças Armadas</center></h2>

**Marinha**

NIF Marinha : 600012662

In [18]:
cur = conn.cursor()

cur.execute('''
        SELECT *
        FROM "CONTRACTS"
        WHERE entidade_adjudicante = 'Marinha';''')

HTML(pd.DataFrame(cur.fetchmany(1)).to_html(index=False))

In [19]:
cur.execute('''
        SELECT *
        FROM "CONTRACTS"
        WHERE entidade_adjudicante = 'MARINHA - Direção de Navios';''')

HTML(pd.DataFrame(cur.fetchmany(1)).to_html(index=False))

In [45]:
cur = conn.cursor()

cur.execute('''
      SELECT entidade_adjudicante, COUNT (entidade_adjudicante)
      FROM "CONTRACTS"
      WHERE nif_entidade_adjudicante = '600012662'
      GROUP BY "entidade_adjudicante" 
      ORDER BY COUNT(entidade_adjudicante) DESC;''')

HTML(pd.DataFrame(cur.fetchall()).to_html(index=False))

In [44]:
cur = conn.cursor()

cur.execute('''
    SELECT entidade_adjudicante, tipo_procedimento, COUNT(*) as count
    FROM "CONTRACTS"
    WHERE nif_entidade_adjudicante = '600012662'
    GROUP BY entidade_adjudicante, tipo_procedimento
    ORDER BY entidade_adjudicante;''')


HTML(pd.DataFrame(cur.fetchall()).to_html(index=False))

In [61]:
cur = conn.cursor()

cur.execute('''
    SELECT entidade_adjudicante, entidades_concorrentes, COUNT(*) as count
    FROM "CONTRACTS"
    WHERE nif_entidade_adjudicante = '600012662'
    GROUP BY entidade_adjudicante, entidades_concorrentes
    ORDER BY COUNT(entidades_concorrentes) DESC;''')


HTML(pd.DataFrame(cur.fetchmany(20)).to_html(index=False))

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

**Selecionar todos os contratos realizados pela mesma entidade adjudicante**

In [29]:
cur = conn.cursor()

cur.execute('''
        SELECT *
        FROM "CONTRACTS"
        WHERE nif_entidade_adjudicante = '506970892';''')

HTML(pd.DataFrame(cur.fetchmany(2)).to_html(index=False))

# data_celebracao  preco_contratual  prazo_execucao  criterios_ambientais  data_publicacao  entidade_adjudicante  fundamentacao  entidades_concorrentes  url_entidades_concorrente 
# url_anuncio  url_peças_procedimento  url_documentos  idcontrato  cpv  n_anuncio  tipo_procedimento  objecto_contrato  nif_entidade_adjudicante

***

<br>

# Funções

In [101]:
def preco_contrato(id_anuncio):
    
    '''
    Função que retorna preço contratual a partir do id do anúncio
    '''
    cur.execute('''
        SELECT preco_contratual
        FROM "CONTRACTS"
        WHERE idcontrato = %s; ''', (id_anuncio,))

    
    return np.asarray(cur.fetchall())


(preco_contrato('8584389'))

array([[10800.]])

In [118]:
def preco_contrato1(id_anuncio):
    
    '''
    Função que retorna preço contratual a partir de uma lista de ids de anúncios
    '''
    
    cur.execute('''
        SELECT preco_contratual
        FROM "CONTRACTS"
        WHERE idcontrato IN %s; ''', (tuple(id_anuncio),))
    
    return np.asarray(cur.fetchall())

In [116]:
def all_ids(): 
    '''
    Função que retorna todos os ids dos contratos
    '''
    cur = conn.cursor()
    cur.execute(''' 
                SELECT idcontrato
                FROM "CONTRACTS";
                ''')
    return (cur.fetchall())

ids = all_ids()

In [117]:
preco_contrato1(ids)

array([[  7163.16],
       [ 11261.16],
       [ 10800.  ],
       ...,
       [153612.  ],
       [764139.9 ],
       [  3259.04]])

In [12]:
cur = conn.cursor()
cur.execute('''
        SELECT objecto_contrato, COUNT (objecto_contrato)
        FROM "CONTRACTS"
        GROUP BY "objecto_contrato"
        ORDER BY COUNT(objecto_contrato) DESC;;''')

df = (pd.DataFrame(cur.fetchmany(10)))
HTML(df.to_html(index=False))